<ion-view hide-nav-bar="true"> <!-- can-swipe-back="false" hide-back-button="true" view-title="{{captacao.title}}"-->
  <ion-header-bar align-title="center" class="bar-stable bar bar-header disable-user-behavior">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    <div class="h1 title">{{captacao.title}}</div>
    <button ng-click="captacao.listarCaptacoesPorEstado()" class="button button-clear button-positive">
      <i class="icon ion-loop"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="p in captacao.processos" href="#/app/captacoes/realizar/{{p.id}}">
        <h2>Prontuário: {{ p.obito.paciente.numeroProntuario }}</h2>
        <p>Nome: {{ p.obito.paciente.nome }}</p>
        <p>Hospital: {{ p.obito.hospital.nome }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
