<ion-view hide-nav-bar="true" view-title="SincAPP" name="login-view">
  <div class="bar">
    <h1 class="title">SincApp</h1>
  </div>
  <ion-content class="padding">
    <div class="padding espaco-extra-top">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="CPF" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)" type="button" >Entrar</button>
    </div>
  </ion-content>
</ion-view>
