<ion-view hide-nav-bar="true" view-title="SincAPP" name="login-view">
  <div class="bar">
    <h1 class="title">SincApp</h1>
  </div>
  <ion-content class="padding">
    <div class="padding espaco-extra-top">
      <div class="list list-inset">
        <form id="loginForm">
          <label class="item item-input">
              <input id="username" type="text" ng-required="true" ui-mask="999.999.999-99" ng-model="ctrl.data.username" ui-mask="999.999.999-99">
          </label>
          <label class="item item-input">
              <input type="password" ng-required="true" placeholder="Senha" ng-model="ctrl.data.password">
          </label>
        </form>
      </div>
      <button class="button button-block button-positive" ng-click="ctrl.login(ctrl.data)" type="button" >Entrar</button>
    </div>
  </ion-content>
</ion-view>
