<div id="pad-wrapper" style="margin-top:0px">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="container-fluid">
        <div id="pad-wrapper" class="form-page">
            <div class="row-fluid form-wrapper">
                <!-- left column -->
                <div class="span8 column field-box" ng-controller="NotificacaoController as processoCtrl">
                    <h3>Notificações de Entrevista aguardando Captação</h3><br/>
                    <form ng-repeat="processo in processoCtrl.listCaptacao" class="span8"
                          action="http://172.16.109.68:8080/msincap/captacao/salvar"
                          method="post">
                        <a id="a_{{processo.codigo}}" ng-click="processoCtrl.mostraCaptacao(processo.codigo)"
                           class="expander" href="#">{{processo.codigo}} - {{processo.obito.paciente.nome}}</a>
                        
                        <div class="field-box">
                            <label> Córneas captadas:*</label>
                            <div class="span8">
                                <label class="radio">
                                    <input id="captacaoRealizada:0" type="radio" checked="true" value="true" name="captacaoRealizada">
                                    Sim
                                </label>
                                <label class="radio">
                                    <input id="captacaoRealizada:1" type="radio" value="false" name="captacaoRealizada">
                                    Não
                                </label>
                            </div>                
                        </div>
                        
                        <div id="divCorneasNaoCaptadas" class="field-box" style="display: block;">
                            <label> Aspecto Logístico*</label>

                            <div class="ui-select span5">
                                <select id="causaNaoDoacao" size="1" name="causaNaoDoacao">
                                    <option selected="selected" value="">-- Selecione --</option>
                                    <option ng-repeat="aspecLogistico in processoCtrl.listAspectosLogisticos" 
                                            value="{{aspecLogistico.id}}">{{aspecLogistico.nome}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div id="divCorneasCaptadas" class="field-box" style="display: block;">
                            <div class="field-box">
                                <label> Data da captação*</label>
                                <input id="dataCaptacao" class="data span8 inline-input" type="text" name="dataCaptacao">
                            </div>
                            <div class="field-box">
                                <label> Hora da captação*</label>
                                <input id="horarioCaptacao" class="hora span8 inline-input" type="text"
                                       name="horarioCaptacao">
                            </div>
                        </div>
                        
                        <div class="field-box">
                            <label> Comentários:</label>
                            <textarea id="captacao-comentario" class="span10 wysihtml5" rows="5"
                                      name="captacao.comentario"></textarea>
                        </div>

                        <div class="field-box">
                            <input type="hidden" id="id" name="id" value="{{processo.id}}"/>
                            <button class="btn-glow success btn-finish" type="submit" style="display: inline-block;"> Finalizar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
